<template>
    <div class="">
        <tab type="lineitems"></tab>
        <div class="Polaris-Page Polaris-Page--fullWidth">
            <div class="Polaris-Page__Content">
                <div class="Polaris-Card overflow-in">
                        <div class="Polaris-Card__Header d-flex">
                            <h2 class="Polaris-Heading">Orders</h2>
                            <datepicker ref="myDatepicker" @input="filterData($event)"
                                        placeholder="Select date to filter order"></datepicker>
                            <a href='#' class="clear-link" @click="clearFilter()">Clear
                            </a>
                        </div>
                        <div id="line-items-id">
                        <div v-if="reports.length > 0" class="d-flex w-100" style="padding: 2rem 2rem 0;">
<!--                            <h3 class="picking-g-total">Grand Total :: {{grand_total}}</h3>-->
                            <h1 class="picking-header"><center> Orders for {{display_date}}</center></h1>
                            <button class="Polaris-Button button-width Polaris-Button--primary" id="prnt-btn" @click="printData">Print</button>
                        </div>
                        <div class="Polaris-Card__Section">
                        <div class="Polaris-Card mt-1">
                            <div class="table-responsive">
                                <table>
                                    <tr v-if="reports.length > 0">
                                        <th class="text-center">Product Title</th>
                                        <th class="text-center">Variants sold.</th>
                                        <th class="text-center">Quantity</th>
                                        <th class="text-center">Selection / attributes selected by customers:</th>
                                    </tr>
                                    <tr v-if="reports.length > 0" v-for="(item, index) in reports" :key="index">
<!--                                        <td class="text-center" v-if="index === 0">{{item.product_name}}</td>-->
<!--                                        <td class="text-center" v-if="index > 0"><p v-if="reports[index - 1]['product_name'] !== item.product_name">{{item.product_name}}</p></td>-->

                                        <td v-if="!item.product_name"><b>{{reports[index]}}</b></td>
                                        <td class="text-center" v-if="item.product_name">{{item.product_name}}</td>
                                        <td class="text-center" v-if="item.product_name">{{item.variant_name}}</td>
                                        <td class="text-center" v-if="item.product_name">{{item.quantity}}</td>
                                        <td class="text-center" v-if="item.product_name" style="white-space: pre;">{{item.properties}}</td>
                                    </tr>
                                    <tr v-if="reports.length <= 0">
                                        <td colspan="4" class="text-center">
                                            <svg style="fill: #c3cfd8;width: 80px;margin-bottom: 5px;"
                                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                                <path
                                                    d="M8 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm9.707 4.293l-4.82-4.82C13.585 10.493 14 9.296 14 8c0-3.313-2.687-6-6-6S2 4.687 2 8s2.687 6 6 6c1.296 0 2.492-.415 3.473-1.113l4.82 4.82c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414z"></path>
                                            </svg>
                                            <h2 class="Polaris-Heading">Could not find any order</h2>
                                            <p class="Polaris-TextStyle--variationSubdued"></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <paginate id="paginate" align="center" v-if="reports.length > 0" class="py-1" :prev_page="prev_page"
                                  :next_page="next_page"></paginate>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import helper from '../../helper';
    import Paginate from "../shopify/paginate";
    import Datepicker from 'vuejs-datepicker';
    import Tab from "../shopify/tab";

    export default {
        components: {
            Paginate,
            Datepicker,
            Tab
        },
        name: 'List',
        data() {
            return {
                reports: [],
                prev_page: '',
                next_page: '',
                current_url: '',
                date: '',
                display_date: '',
                monthNames: ["January", "February", "March", "April", "May", "June",
                    "July", "August", "September", "October", "November", "December"
                ],
                grand_total: '',
            }
        },
        mounted() {
            let base = this;
            base.current_url = "/line-items?page=1";

            this.$root.$on('get-data', function (url) {
                base.current_url = url;
                base.getReports();
            });
        },
        methods: {
            filterData(event) {
                if (event) {
                    let d = ('0' + event.getDate()).slice(-2);
                    let m = ('0' + (event.getMonth() + 1)).slice(-2);
                    let y = event.getFullYear();

                    this.date = d + '-' + m + '-' + y;
                    this.display_date = d + ' ' + this.monthNames[event.getMonth()] + ' ' + y;
                    this.getReports();
                }
            },
            clearFilter() {
                this.$refs.myDatepicker.clearDate();
                this.date = '';
                this.getReports();
            },
            async getReports() {
                let base = this;
                let api = base.current_url + '&d=' + base.date;
                try {
                    helper.startLoading();
                    let {data} = await axios.get(api);

                    let res = data.data;
                    base.reports = res.data;
                    base.prev_page = res.prev;
                    base.next_page = res.next;
                    base.grand_total = res.grandTotal;
                } catch ({response}) {
                }
                helper.stopLoading();
            },
            printData(){
                $("#prnt-btn").css('display', 'none');
                $("#paginate").css('display', 'none');
                var divContents = $("#line-items-id").html();
                var a = window.open('', '', 'height=500, width=500');
                a.document.write('<html>');
                a.document.write('<body>');
                a.document.write(divContents);
                a.document.write('</body></html>');
                a.document.close();
                a.print();
                $("#prnt-btn").css('display', 'block');
                $("#paginate").css('display', 'block');
            }
        },
    }
</script>
