<template>
    <div class="">
        <div>
            <div class="Polaris-Tabs__Wrapper">
                <ul role="tablist" class="Polaris-Tabs">
                    <li class="Polaris-Tabs__TabContainer">
                        <router-link id="all-orders" :to="{name :'orderlist'}" tag="button" role="tab" type="button" tabindex="0" class="Polaris-Tabs__Tab" v-bind:class="{'Polaris-Tabs__Tab--selected' : ( type === 'orders')}" aria-selected="true" aria-controls="all-customers-content" aria-label="Apps Metafields">
                            <span class="Polaris-Tabs__Title">Orders</span>
                        </router-link>
                    </li>
                    <li class="Polaris-Tabs__TabContainer">
                        <router-link id="line-items" :to="{name :'lineitemlist'}" tag="button" role="tab" type="button" tabindex="-1" class="Polaris-Tabs__Tab" aria-selected="false" v-bind:class="{'Polaris-Tabs__Tab--selected' : ( type === 'lineitems')}" aria-controls="accepts-marketing-content">
                            <span class="Polaris-Tabs__Title">Picking List</span>
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        name: 'Tab',
        props: ['type'],
    }
</script>
